.site-toasts {
    position: fixed;
    z-index: $zindex-toast;
    bottom: 0;
    right: 0;

    &.toast-top {
        bottom: unset;
        top: 0;
    }

    &.toast-start {
        right: unset;
        left: 0;
    }

    &.toast-center {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
    }

    &.toast-middle {
        bottom: unset;
        top: 50%;
        transform: translateY(-50%);
    }

    &.toast-center.toast-middle {
        transform: translate(-50%, -50%);
    }

    .toast-lists {
        overflow: hidden;
        max-height: 100vh;

        .toast-items {
            >.toast:not(:last-child) {
                margin-bottom: $toast-spacing;
            }
        }
    }
}
